<div>
  <strong
    >How To Convert HTML Page To PDF In Angular 11? - phpcodingstuff.com</strong
  >
</div>
<div>
  <input type="button" value="Convert" (click)="convetToPDF()" />
</div>
<div id="contentToConvert">
  <table>
    <tbody>
      <tr>
        <th>Company</th>
        <th>Contact</th>
        <th>Country</th>
      </tr>
      <tr>
        <td>A Company</td>
        <td>Robert look</td>
        <td>Germany</td>
      </tr>
      <tr>
        <td>B Company</td>
        <td>Chnage</td>
        <td>Mexico</td>
      </tr>
      <tr>
        <td>C Company</td>
        <td>Mantodal</td>
        <td>Austria</td>
      </tr>
      <tr>
        <td>D Company</td>
        <td>Heltenosolu</td>
        <td>UK</td>
      </tr>
      <tr>
        <td>E Company</td>
        <td>tatumore</td>
        <td>Canada</td>
      </tr>
      <tr>
        <td>F Company</td>
        <td>verlose</td>
        <td>Italy</td>
      </tr>
    </tbody>
  </table>
</div>
